.title-container {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    
  
  }
  
  mat-paginator {
    width: 70%;
    margin: 20px;
  }
  
  h1{

    color: #333;
    text-decoration: underline;
  }

 